table[aria-labelledby='folders-and-files'] > thead > tr {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
}

table[aria-labelledby='folders-and-files'] > thead > tr > th {
  width: unset;
}

table[aria-labelledby='folders-and-files']
  > thead
  > tr
  > th:not(:nth-child(1))
  div {
  height: 100%;
  display: flex;
  align-items: center;
}

table[aria-labelledby='folders-and-files']
  > thead
  > tr
  > th:not(:nth-child(1))
  span {
  height: 100%;
  display: flex;
  align-items: center;
}

table[aria-labelledby='folders-and-files']
  > thead
  > tr
  > th:nth-child(n + 4)
  span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

table[aria-labelledby='folders-and-files']
  > thead
  > tr
  > th:nth-child(n + 4)
  div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

table[aria-labelledby='folders-and-files']
  > thead
  > tr
  > th:nth-child(4):not(.grs) {
  grid-column: span 2;
}

table[aria-labelledby='folders-and-files'] > tbody > tr {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

table[aria-labelledby='folders-and-files'] > tbody > tr > td:nth-child(1) {
  display: none;
}

table[aria-labelledby='folders-and-files']
  > tbody
  > tr
  > td:nth-child(4):not(.grs) {
  grid-column: span 2;
}

table[aria-labelledby='folders-and-files']
  > tbody
  > tr:nth-child(1)
  > td:first-child {
  display: table-cell;
  grid-column: span 4;
}

table[aria-labelledby='folders-and-files']
  > tbody
  > tr:nth-child(n + 1)
  > td:nth-child(n + 1)
  div {
  display: flex;
  align-items: center;
  height: 100%;
}

table[aria-labelledby='folders-and-files']
  > tbody
  > tr:nth-child(n + 1)
  > td:nth-child(4)
  span {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

table[aria-labelledby='folders-and-files']
  > tbody
  > tr:nth-child(n + 1)
  > td:nth-child(n + 4)
  div {
  justify-content: flex-end;
}
